@charset "UTF-8";

.school-calendar {
    background-color : white;
    height: auto;
    width: 400px;
    margin: 0px;
    padding: 20px;
    margin: 0 auto;
    border: 0.5px dashed #daa520;
}

td {
    width: 50px;
    height: 50px;
}

.Calendar {
    text-align: center;
}

.Calendar>thead>tr:first-child>td {
    font-size: 1.1em;
    font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
    font-weight: 500;     
}

.Calendar>tbody>tr>td>p {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}        

.pastDay {
    color: lightgray;
}

.today {
    background-color: #F5D042;            
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}
.futureDay:hover{
    background:#eee;
}

.futureDay.choiceDay,
.today.choiceDay {
    background: #0A174E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}