@charset "UTF-8";

@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family:'BMHANNAAir'
}

#wrap {
	width:1200px;
	height:800px;
}

.empty-box {
	height:50px;
}

.sign-up-box {
	height:800px;
}

.signin-box {
	height:800px;
}

#signupBtn {
	background-color:#add8e6;
}

.check-btn {
	background-color:#ffdab9;
}

.signin-btn {
	background-color:#ffa500;
}

.signin-naver {
	background-color:#32cd32;
}