@charset "UTF-8";

@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family:'NeoDunggeunmoPro-Regular'
}

#mainLogo {
	text-decoration:none;
}

#mypage-icon {
	text-decoration:none;	
}

#wrap {
	width:1200px;
	height:800px;
}

header > .main-menu-link {
	text-decoration:none;
}

.nav-item:hover {
	background-color:#FAFAD2;
}

.empty-box {
	height:50px;
}

.sign-up-box {
	height:800px;
}

.signin-box {
	height:800px;
}

#signupBtn {
	background-color:#add8e6;
}

.check-btn {
	background-color:#ffdab9;
}

.signin-btn {
	background-color:#ffa500;
}

.signin-naver {
	background-color:#32cd32;
}

.main-item-div {
	width:800px;
	height:600px;
}

.main-content {
	height:600px;
}

.main-content > .school-rank-table {
	height:250px;
}

.main-content > .main-content-item {
	height:270px;
}